body { 
  background-color: #0e0909;
  padding: 1rem 0 1rem 1rem;
}

form { 
  margin: 0 auto;
  max-width: 692px;
 }

.main-content { display: flex; }

.main-image {
  position: relative;
  border: 3px solid #ffffff;
  border-radius: 3px;
}

.image-author {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 0.8rem;
}

.table-content {
  flex-grow: 1;
}
